/***************************************************
    google fonts
***************************************************/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/***************************************************
    shared styles
***************************************************/
* {
    font-family: 'Work Sans', sans-serif;
}

main,
nav {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    border-radius: 48px;
    background: #FF42A5;
    padding: 21px 40px;
}

.text-primary {
    color: #F948B2;
}

.text-secondary {
    color: #a903bc;
}

.heading-one {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.heading-two {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

.heading-three {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
}




/***************************************************
    header styles
***************************************************/
/****************************
    navbar styles
****************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left img {
    height: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 32px;
}

nav ul .youtube-tiktok {
    border-radius: 8px;
    background: rgba(66, 19, 194, 0.1);
    padding: 16px 24px;
}

nav a {
    text-decoration: none;
    color: #3C354F;
}

nav ul li .fa-youtube {
    color: #F61C0D;
    margin-left: 24px;
    margin-right: 16px;
}

/****************************
    banner styles
****************************/
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-img {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
}

.banner-info {
    padding-left: 225px;
    padding-right: 384px;
    max-width: 100%;
}

.banner-info h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 130px;
}

.banner-info ul {
    padding: 8px;
}

.banner-info li {
    list-style: none;
    color: #534C64;
    font-size: 17px;
    font-weight: 500;
    margin: 17px 0;
}

.banner-btn-container {
    margin-top: 41px;
    padding-bottom: 90px;
}

.banner-btn-container .bg-sky {
    background: #4EC5F7;
}

.banner img {
    width: 100%;
    padding-right: 240px;
}




/***************************************************
    online games styles
***************************************************/



/***************************************************
    play instantly styles
***************************************************/



/***************************************************
    game-icons styles
***************************************************/
.game-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 120px auto;
}

.game-icon {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    background: #FFF;
}

.game-icon:hover {
    color: #F948B2;
    border: 2px solid #F948B2;
    border-radius: 50px;
}


/***************************************************
    footer styles
***************************************************/



/******************************************************************
    media queries for responsivness
******************************************************************/
/*********************************
    for mobile devices
*********************************/
@media screen and (max-width: 576px) {
    .heading-one {
        font-size: 65px;
    }

    .heading-two,
    .heading-three {
        font-size: 2rem;
    }

    .btn-primary {
        padding: 10px 20px;
    }

    nav,
    nav ul,
    .banner {
        flex-direction: column;
        padding-left: 0;
    }

    nav ul li {
        margin: 26px 0;
    }

    .banner-info,
    .banner img {
        padding: 10px;
    }




    .game-icons-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 5px;
        padding: 10px;        
    }

    .game-icon {
        align-items: center;
        gap: 5px;
        font-size: 14px;
        padding: 3px;
    }

    .game-icon img{
        width: 22px;
    }
}

/*********************************
    for tablet or medium devices
*********************************/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .heading-one {
        font-size: 65px;
    }

    .heading-two,
    .heading-three {
        font-size: 2rem;
    }

    .btn-primary {
        padding: 10px 20px;
    }

    nav,
    nav ul,
    .banner {
        flex-direction: column;
        padding-left: 0;
    }

    nav ul li {
        margin: 26px 0;
    }

    .banner-info,
    .banner img {
        padding: 50px;
    }



    .game-icons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 10px;
        padding-left: 50px; 
    }

}